---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  imagePath: string;
  altText: string;
  title: string;
  href: string;
}

const { imagePath, altText, title, href } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpeg,jpg,png,gif,avif}",
);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,avif}"`,
  );

const isAnimated = imagePath.endsWith(".avif");
---

<div class="card">
  <a href={href} class="button">
    {
      isAnimated ? (
        <img
          src={imagePath}
          alt={altText}
          loading="lazy"
        />
      ) : (
        <Image src={images[imagePath]()} alt={altText} format="avif" />
      )
    }
    <p>{title}</p>
  </a>
</div>

<style>
  .card{
    margin-bottom: 20px;
  }
  
  a {
    width: calc(33.2%);
    color: black;
    text-decoration: none;
  }

  img {
    width: 100%;
    border-radius: 8px;
    display: block;
    height: auto;
  }
</style>